@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="jumbotron">
    <h1>Placovu CMS</h1>
    <p>On the top menu of the page, you can change your website content.</p>
</div>
