<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home", new { Area = "" })">
                <img src="~/default/images/logo.png" alt="home" class="img-logo" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home", new { Area = "" })">Home</a>
                    </li>
                </ul>
                <div class="navbar-login float-right">
                    <a class="btn btn-primary" href="@Url.Action("LogIn", "Account", new { Area = "" })">Log in</a>
                </div>
            </div>
        </div>
    </nav>
</header>