<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<meta name="keywords" content="placovu cms" />
<meta name="description" content="placovu cms" />
<meta name="author" content="http://placovu.com/" />
<title>Placovu CMS - @ViewData["Title"]</title>
<!-- favicon icon -->
<link rel="icon" href="~/default/images/favicon-32x32.png" sizes="32x32" />
<link rel="icon" href="~/default/images/favicon-192x192.png" sizes="192x192" />
<link rel="apple-touch-icon" href="~/default/images/favicon-180x180.png" />
<link rel="shortcut icon" href="~/default/images/favicon-32x32.png" type="image/ico" />

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<!-- BEGIN datatable CSS-->
<link href="~/lib/jquery-datatable/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<!-- END datatable CSS-->
<!-- BEGIN toastr CSS-->
<link href="~/lib/toastr/css/toastr.min.css" rel="stylesheet" />
<!-- END toastr CSS-->

<environment include="Development">
    <link href="~/default/css/app.css" rel="stylesheet" />
    <link href="~/admin/css/admin.css" rel="stylesheet" />
</environment>
<environment exclude="Development">
    <link href="~/admin/css/site.min.css" rel="stylesheet" asp-append-version="true" />
</environment>


