<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<meta name="keywords" content="placovu cms" />
<meta name="description" content="placovu cms" />
<meta name="author" content="http://placovu.com/" />
<title>@ViewData["Title"] - Placovu CMS</title>
<!-- favicon icon -->
<link rel="icon" href="~/default/images/favicon-32x32.png" sizes="32x32" />
<link rel="icon" href="~/default/images/favicon-192x192.png" sizes="192x192" />
<link rel="apple-touch-icon" href="~/default/images/favicon-180x180.png" />
<link rel="shortcut icon" href="~/default/images/favicon-32x32.png" type="image/ico" />

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<environment include="Development">
    <link href="~/default/css/login.css" rel="stylesheet" />
</environment>
<environment exclude="Development">
    <link href="~/default/css/login.min.css" rel="stylesheet" asp-append-version="true" />
</environment>