<section class="bg-primary p-0 hpx-100">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-center hpx-100 p-3"><a class="h-100" href="https://www.bbb.org/us/co/colorado-springs/profile/window-glass/city-glass-company-inc-0785-63428912" target="_blank"><img class="lazy img-fluid h-100" data-src="/upload/2021/4/bbb_logo.png" /> </a></div>
        </div>
    </div>
</section>

<section class="bg-gray" id="contactuslink">
    <div class="container p-2">
        <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-center"><a class="link-btn btn-yellow-xl" href="/contact"><span class="link-btn-label">Contact Us</span> </a></div>
        </div>
    </div>
</section>