<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_AppHeadCssScript" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <div id="appPreLoader"></div>
    <partial name="_AppHeaderNav" />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <partial name="_AppFooterCssScript" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
