@model ContactUsConfigViewModel
@{
    ViewData["Title"] = "Add Contact Us Config";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script src="~/lib/CKEditor/ckeditor.js" type="text/javascript" language="javascript"></script>
<div class="row mb-4">
    <div class="col-10">
        <h1 class="f-26">Add Contact Us Config</h1>
    </div>
    <div class="col-2 text-right">
        <a href="@Url.Action("Index", "ContactUsConfig", new { Area = "" })" title="Back" class="btn btn-secondary">Back</a>
    </div>
</div>

@Html.RenderAlert("ContactUsConfigMessage")

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h2>@TempData["result"]</h2>
                <form method="post" asp-action="Save" asp-controller="ContactUsConfig">
                    <div class="form-body">

                        <div class="form-group row">
                            <label asp-for="ContactUsConfigType" class="col-3 control-label"></label>
                            <div class="col-4">
                                <input asp-for="ContactUsConfigType" class="form-control" />
                                <span asp-validation-for="ContactUsConfigType"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="ToEmailAddress" class="col-3 control-label"></label>
                            <div class="col-4">
                                <input asp-for="ToEmailAddress" class="form-control" />
                                <span asp-validation-for="ToEmailAddress"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="FromEmailAddress" class="col-3 control-label"></label>
                            <div class="col-4">
                                <input asp-for="FromEmailAddress" class="form-control" />
                                <span asp-validation-for="FromEmailAddress"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="FromEmailAddressDisplayName" class="col-3 control-label"></label>
                            <div class="col-4">
                                <input asp-for="FromEmailAddressDisplayName" class="form-control" />
                                <span asp-validation-for="FromEmailAddressDisplayName"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="PhoneNumber" class="col-3 control-label"></label>
                            <div class="col-4">
                                <input asp-for="PhoneNumber" class="form-control" />
                                <span asp-validation-for="PhoneNumber"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="PhoneNumberDisplayName" class="col-3 control-label"></label>
                            <div class="col-4">
                                <input asp-for="PhoneNumberDisplayName" class="form-control" />
                                <span asp-validation-for="PhoneNumberDisplayName"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="DisplayOrder" class="col-3 control-label"></label>
                            <div class="col-4">
                                <input asp-for="DisplayOrder" class="form-control" />
                                <span asp-validation-for="DisplayOrder"></span>
                            </div>
                        </div>


                    </div>
                    <div class="form-actions form-actions-new">
                        <div class="row">
                            <div class="col-12">
                                <input type="submit" class="btn btn-primary" value="Submit" />
                                <a href="@Url.Action("Index", "ContactUsConfig", new { Area = "" })" title="Back" class="btn btn-danger ml-2">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
